
 font .open-sans- {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 2s linear;
}
.html{
    font-size: 62.5%;
    /* scroll-behavior: smooth; */
    /* scroll-padding-top: 6rem; */
    /* overflow: hidden; */
}













*{
    margin:0 ;

    font-family: 'poppins',sans-serif;
    padding: 0;
    box-sizing: border-box;

}
body{
    background: url("../assets/hero-bg.png");
    /* background-size: cover; */
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    /* padding-right: 20px; */
    /* background-color: hotpink; */
}
.warapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 16vh;
    background: white;
}
.nav{
    position: fixed;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    line-height: 100px;
    z-index: 100;;
    
}
.nav-logo p {
    content: white;
    font-size: 16px;
    font-weight: 600;
}
.nav-menu ul{
    display: flex;
}
.nav-menu ul li{
    list-style-type: none;
    
}
.nav-menu ul li .link {
    text-decoration: none;
    font-weight: 500;
    color: #000000;
    padding-bottom: 15px;
    margin: 0 25px;
    
}
nav .image{
    width: 139px;
    height: 60px;
}
/* home section start  */
section{
    padding: 2rem 9%;

}
.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-image:"../assets/hero-bg.png";
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}






/* header section start  */
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 295px;
    background-color: #fff;
    padding:2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0.5rem 1rem rgba(0, 0, 0,);
    
}
header .nav{
    font-size: 14px;
    padding: 1.5rem;
    color: #000000;
}
.home .content{
    max-width: 85rem;
}
.home .content h3{
    font-size: 2rem;
    margin: 0;
    /* padding: 2rem 9%; */
    color: #fff;
    font-family: 'arial';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%) translateY(-50%);
}
.home .content span {
    color: #30B868;
    font-size: 2rem; 
    top: 50%;
    left: 50%;
    /* right: 50%; */
    text-align: center;
    /* position: absolute; */
   /* padding: 2rem 9%; */
    /* width: 770px; */   
} 
.home .content p {
    font-size: 18px auto;
    font-weight: 100;
    line-height: 25px;
    color: #fff;
    /* text-align: center; */
    /* top: 50%; */
    /* left: 50%; */
    /* position: absolute; */
    
}
.btn{
    background-color: #30B868;
    border: none;
    padding: 16px 24px;
    border-radius: 5px;
    font-size: 16px;font-weight:100;
    color: white;
    cursor: pointer;
    position: relative;
}
#about{
    padding-top:0;
    max-width: 1360;

}
#about .about-container {
    width: 71%;
    max-width: 1360;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;

}
#about .about-container p{
    font-size: xx-small;
}
#about .about-container h3{
    font-size: bold;
}
.skills-card {
    width: 79;
    max-width: 1360px;
    margin: 0 auto;
}
 .skills-box{
    display: flex;
    gap: 24px;
}
.skills-card img{
    /* max-width: 44px; */
    /* margin-bottom: 30px; */
}
.skills-card h3 {
    font-size: 20px;
    color: #000000;
    margin-bottom: 20px;

}
/* #banner .banner-image img{ */
    max-width: 600;
}
    




    
    


    


    





   